<head>
  <meta charset="UTF-8">
  <title>Chess</title>
</head>
<body>
<h1>Have Fun!</h1>

<div class="board">
  <table>
    <tbody>
      <% (1..8).each do |y_position| %>
        <tr id = <%= y_position %>>
          <% (1..8).each do |x_position| %>
            <td data-x-position = <%= x_position %>
            data-y-position = <%= y_position %>
            class = <%= "#{(y_position % 2 == x_position % 2 ?
                        "white-square droppable-square" :
                        "black-square droppable-square")}" %> >
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class=link>
	<%= link_to 'Sign In', new_user_session_path %>
</div>
</body>
</html>