<head>
  <meta charset="UTF-8">
  <title>Chess</title>
  <%# <script>
    $(document).ready(function(){
      $('td.droppable-square').on('click', function(e){
        $(e.target).closest('.droppable-square').attr(data-x-position).val();
        console.log($(e.target).closest('.droppable-square').attr(data-x-position).val());
      });
    });
    
  </script> %>
</head>
<body>
<h1>Have Fun!</h1>

<div class="board">
  <table>
    <tbody>
        <% (1..8).each do |y_position| %>
          <tr id = <%= y_position %>>
            <% (1..8).each do |x_position| %>
              <td data-x-position = <%= x_position %>
              data-y-position = <%= y_position %>
              class = <%= "#{(y_position % 2 == x_position % 2 ?
                          "white-square droppable-square" :
                          "black-square droppable-square")}" %> >

              <%# occupied? and render_piece are helper methods defined in games_helper.rb %>

              <span class='pieces'>
                <% if occupied?(x_position, y_position) %>
                  <%= render_piece %>
                <% end %>     
              </span>

              </td>
            <% end %>
          </tr>
          
      <% end %>
    </tbody>
  </table>
</div>
<%= update %>

<div class=link>
	<%= link_to 'Sign In', new_user_session_path %>
</div>


</body>
</html>