<!DOCTYPE html>
<html>
  <head>
    <title>Chessapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3e61dbe26a8e71d1481872f13e7fc6702703ee41

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

<<<<<<< HEAD
    <%= yield %>
    
=======
    <%= yield %>
>>>>>>> 762ea5f5c6f95f9adf39127e991b29cee37821c7
=======
    <%= yield %>
    
>>>>>>> 3e61dbe26a8e71d1481872f13e7fc6702703ee41
  </body>
</html>
